html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
	background-image: url("background.png");
	background-repeat: repeat;
}

.small {
	position: absolute;
	width: initial;
	z-index: 1;
	padding-left: 1em;
	padding-right: 1em;
}

#pauseMenu, #failMenu, #winMenu {
	background: rgba(0, 0 , 0 , 0.5);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
	display: none;
}

.pause-menu-button {
	position: absolute;
	width: 8.6em;
	z-index: 3;
}

#paused, #gameover, #congratulations {
	z-index: 3;
}

h1 {
	position: absolute;
	z-index: 1;
	letter-spacing: 0.5rem;
}

#question, #paused, #gameover, #congratulations {
	margin: auto;
	left: 0;
	right: 0;
}

#timer {
	margin-left: 0;
	margin-right: 0;
	width: 3em;
}

#bar {
	position: absolute;
	z-index: 1;
	width: 2.85em;
	height: 7em;
	border-radius: 0.25em;
	margin: 0.5em 0.4em;
	padding: 0.5em;
}

#bar:hover {
	background: #fff !important;
	cursor: initial;
}

#bar:active {
	box-shadow: initial;
	border: 1px solid #999;  /*IE 6/7/8*/
	border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
	box-shadow: 0 .01em 0px #dededa,
		0 .06em 0 #dededa,
		0 .08em  0 #dededa,
		0 .12em 0 #dededa,
		0 .14em 0 #dededa,
		0 .16em  0 #dededa,
		0 .18em 0 #dbdbd6,
		0 .22em 0 #dbdbd6,
		0 .24em  0 #dbdbd6,
		0 .26em 0 #d9d9d4,
		0 .28em  0 #d9d9d4,
		0 .32em  0 #d8d8d3,
		0 .34em 0 #d8d8d3,
		0 .36em  0 #d8d8d3,
		0 .38em 0 #d6d6d1,
		0 .42em 0 #d6d6d1,
		0 .06em .06rem rgba(104, 104, 92, 0.15),
		.07em .105em .04em rgba(0, 0, 0, .015),
		-.02em .09em .05em rgba(104, 104, 92, 0.25),
		-.03em .07em .065em rgba(104, 104, 92, 0.1),
		-.075em .08em .09em rgba(104, 104, 92, 0.06),
		-.09em .06em .195em rgba(104, 104, 92, 0.095);
}

#fill {
	border-radius: 0.25em;
	background: rgba(0, 0, 0, 0.8);
	height: 0.5em;
	margin-top: 2.75em;
}
