@font-face {
	font-family: Sigmar One;
	src: url(sigmarone.ttf);
	font-weight: 400;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	text-align: center;
	background: url("background.png");
	overflow: hidden;
}

#container {
	position: absolute;
	background: #999;
	overflow: auto;
}

h1, h2, p {
	clear: both;
	color: #fff;
	margin: .5em;
	color: #fff;
	font-family: 'Sigmar One', sans-serif;
	letter-spacing: 1rem;
	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	text-shadow: 0 .01em 0px #dededa,
		0 .015em 0 #dededa,
		0 .02em  0 #dededa,
		0 .028em 0 #dededa,
		0 .035em 0 #dededa,
		0 .04em  0 #dededa,
		0 .045em 0 #dbdbd6,
		0 .055em 0 #dbdbd6,
		0 .06em  0 #dbdbd6,
		0 .065em 0 #d9d9d4,
		0 .07em  0 #d9d9d4,
		0 .08em  0 #d8d8d3,
		0 .085em 0 #d8d8d3,
		0 .09em  0 #d8d8d3,
		0 .095em 0 #d6d6d1,
		0 .105em 0 #d6d6d1,
		0 .06em .06rem rgba(104, 104, 92, 0.15),
		.07em .105em .04em rgba(0, 0, 0, .015),
		-.02em .09em .05em rgba(104, 104, 92, 0.25),
		-.03em .07em .065em rgba(104, 104, 92, 0.1),
		-.075em .08em .09em rgba(104, 104, 92, 0.06),
		-.09em .06em .195em rgba(104, 104, 92, 0.095);
}

h1 {
	font-size: 10rem;
}

h2 {
	font-size: 5rem;
}

p {
	font-size: 3rem;
	letter-spacing: .2rem;
}

#t-exploding {
	font-size: 10rem;
	text-shadow: 0 0 10px #fff,
		0 0 .1em #fff,
		0 0 .15em #fff,
		0 0 .2em #7137c8,
		0 0 .35em #7137c8,
		0 0 .4em #7137c8,
		0 0 .5em #7137c8,
		0 0 .75em #7137c8;
}

#t-bob {
	margin-top: -.5em;
	font-size: 12rem;
}

.pure-button {
	font-family: 'Sigmar One', sans-serif;
	width: 10em;
	font-size: 4rem;
	margin: .5em .4em;
	padding: .25em;
	border-radius: .25em;
	background-color: #fff;
	box-shadow: 0 .01em 0px #dededa,
		0 .06em 0 #dededa,
		0 .08em  0 #dededa,
		0 .12em 0 #dededa,
		0 .14em 0 #dededa,
		0 .16em  0 #dededa,
		0 .18em 0 #dbdbd6,
		0 .22em 0 #dbdbd6,
		0 .24em  0 #dbdbd6,
		0 .26em 0 #d9d9d4,
		0 .28em  0 #d9d9d4,
		0 .32em  0 #d8d8d3,
		0 .34em 0 #d8d8d3,
		0 .36em  0 #d8d8d3,
		0 .38em 0 #d6d6d1,
		0 .42em 0 #d6d6d1,
		0 .06em .06rem rgba(104, 104, 92, 0.15),
		.07em .105em .04em rgba(0, 0, 0, .015),
		-.02em .09em .05em rgba(104, 104, 92, 0.25),
		-.03em .07em .065em rgba(104, 104, 92, 0.1),
		-.075em .08em .09em rgba(104, 104, 92, 0.06),
		-.09em .06em .195em rgba(104, 104, 92, 0.095);
}

.pure-button:last-child {
	clear:both;
}

.pure-button:hover {
	background: #7137c8 !important;
	color: #fff;
	box-shadow: 0 .01em 0px #dededa,
		0 .06em 0 #dededa,
		0 .08em  0 #dededa,
		0 .12em 0 #dededa,
		0 .14em 0 #dededa,
		0 .16em  0 #dededa,
		0 .18em 0 #dbdbd6,
		0 .22em 0 #dbdbd6,
		0 .24em  0 #dbdbd6,
		0 .26em 0 #d9d9d4,
		0 .28em  0 #d9d9d4,
		0 .32em  0 #d8d8d3,
		0 .34em 0 #d8d8d3,
		0 .36em  0 #d8d8d3,
		0 .38em 0 #d6d6d1,
		0 .42em 0 #d6d6d1,
		0 .06em .06rem rgba(104, 104, 92, 0.15),
		.07em .105em .04em rgba(0, 0, 0, .015),
		-.02em .09em .05em rgba(104, 104, 92, 0.25),
		-.03em .07em .065em rgba(104, 104, 92, 0.1),
		-.075em .08em .09em rgba(104, 104, 92, 0.06),
		-.09em .06em .195em rgba(104, 104, 92, 0.095);
}

.pure-button:active {
	box-shadow: 0 .01em 0px #dededa,
		0 .06em 0 #dededa,
		0 .08em  0 #dededa,
		0 .12em 0 #dededa,
		0 .14em 0 #dededa,
		0 .16em  0 #dededa,
		0 .18em 0 #dbdbd6,
		0 .22em 0 #dbdbd6,
		0 .24em  0 #dbdbd6,
		0 .26em 0 #d9d9d4,
		0 .28em  0 #d9d9d4,
		0 .32em  0 #d8d8d3,
		0 .34em 0 #d8d8d3,
		0 .36em  0 #d8d8d3,
		0 .38em 0 #d6d6d1,
		0 .42em 0 #d6d6d1,
		0 .06em .06rem rgba(104, 104, 92, 0.15),
		.07em .105em .04em rgba(0, 0, 0, .015),
		-.02em .09em .05em rgba(104, 104, 92, 0.25),
		-.03em .07em .065em rgba(104, 104, 92, 0.1),
		-.075em .08em .09em rgba(104, 104, 92, 0.06),
		-.09em .06em .195em rgba(104, 104, 92, 0.095),
		0 0 0 1px rgba(0,0,0, 0.15) inset,
		0 0 6px rgba(0,0,0, 0.20) inset;
}

.pure-button:focus {
	background-image: none;
}

#bob {
	width: 45%;
	margin: 5rem 0 0 0;
}

#back {
	float: left;
}

#coins {
	clear: none;
}

#preview {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 40%;
	pointer-events: none;
	display: inherit;
}

#previewContainer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}

#howToPlay {
	width: 100%;
}
