@font-face {
	font-family: "Press Start 2P";
	src: url("fonts/font.ttf");
}

body {
    background: url("img/bg.png");
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    font-family: "Press Start 2P", san-serif;
}

* {
    font-size: 8pt;
}


